.mainlogin{
    width:22vw;
    height:48vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    justify-content:space-evenly;
}
.email{
    width:85%;
    height: 15%;
    /* border: 1px solid red; */
}
.password{
    width:85%;
    height: 15%;
    /* border: 1px solid red; */
}
.buttonlogin{
    width: 85%;
    height: 15%;
    margin-top: 10px;
    /* border: 1px solid red; */
}
.facebook{
    width: 85%;
    display: flex;
}
.Ornline{
    display: flex;
    justify-content: space-evenly
    /* flex-wrap: wrap; */
}