.mainForget{
    width:100vw;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header1{
    width: 100%;
    height: 8%;
    border: 1px solid black;
    background-color: #A03037;
    display: flex;
    align-items: center;
}
.imgpart{
    margin-left: 10%;
}
.Bookstore{
    margin-left: 10px;
    font-family: Roboto;
    font-weight: lighter;
    font-size: 20px;
    color: #FFFFFF;
    transform: Titlecase;
    line-height: 20;
}
.forgettitle{
    font-size: 25px;
    /* font-family: Roboto; */
    font-weight:500;
    margin-top: 8%;
}
.cont2{
    margin-top: 20px;
    width: 26%;
    height: 45%;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textforget{
    color: #878787;
    opacity: 100%;
    font-size: 13px;
    width:80%;
    height: 15%;
    /* border: 1px solid red; */
    text-align: left;
    margin-top: 20px;
}
.textfeild{
    margin-top: 15px;
}
.createa{
    width: 100%;
    height: 30%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    /* align-self: flex-end; */
    border: 1px solid  #E4E4E4;
    /* border: 1px solid red; */
}